<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <title>Início</title>
     <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
     <link rel="stylesheet" href="../assets/css/style.css">
</head>

<body>
     <header>
          <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
               <div class="container">
                    <a href="#" class="navbar-brand">
                        Controle Financeiro
                    </a>
                    <div class="collapse navbar-collapse">
                         <ul class="navbar-nav ml-auto">
                              <li class="nav-item active">
                                   <a href="inicio.html" class="nav-link">Início</a>
                              </li>
                              <li class="nav-item">
                                   <a href="extrato.html" class="nav-link">Extrato</a>
                              </li>
                              <li class="nav-item">
                                <a href="index.html" class="nav-link" onclick="logout()">Sair</a>
                           </li>
                         </ul>
                    </div>
               </div>
          </nav>
     </header>
     <div class="conteudo-inicio">
          <h4>Saldo Atual</h4>
          <h1 id="balance" class="balance text-primary">R$ 0.00</h1>

          <h3 class="add-transacao">Adicionar transação</h3>

          <form>
            <div class="form-group">
                <label for="tipo">Tipo de transação</span></label>
                <select id="tipo" name="tipo" class="form-control w-15" required onchange="mudarCampo()">
                    <option value="" selected disabled>Selecione uma transação</option>
                    <option value="1">Crédito</option>
                    <option value="2">Débito</option>
                    <option value="3">Transferência</option>
                </select>
            </div>
            <div class="form-group" id="nome_wrapper">
              <label for="nome">Nome</label>
              <input type="text" class="form-control" required id="nome" placeholder="Nome da transação">
            </div>
            <div class="form-group" id="destinatario_wrapper">
               <label for="destinatario">CPF</label>
               <input type="text" class="form-control" required id="destinatario" placeholder="Destinatário" onkeydown="javascript: fMasc( this, mCPF );" MAXLENGTH="14">
             </div>
            <div class="form-group">
              <label for="valor">Valor</label>
              <input type="number" min="0" class="form-control" required id="valor" placeholder="R$">
            </div>
            <button type="button" class="btn btn-primary" onclick="realizarTransacao()">Adicionar</button>
          </form>

          <div class="row">
               <div class="container">
                    <div class="col d-flex justify-content-center">
                         <div class="spinner-dual d-none" id="spinner-loader"></div>
                    </div>
               </div>
          </div>
     </div>
     <script src="../assets/js/jquery.js"></script>
     <script src="../assets/js/cadastro-cliente.js"></script>
     <script src="../assets/js/inicio.js"></script>
     <script src="../assets/js/helpers.js"></script>
     <script src="../assets/js/input_field_validator.js"></script>
     <script src="../assets/js/login.js"></script>
     <script>
          $(document).ready(function () {
              recuperarDadosCliente();
              carregarCliente()
          })
       </script>
</body>

</html>